{% extends "base.html" %} {% block content %}

<div class="container">
  <h1 class="my-4 font-weight-bold">{{ recipe.title }}</h1>

  <!-- Recipe Item Row -->
  <div class="row">
    <div class="col-md-8">
      {% if recipe.servings %}
      <p><b class="font-weight-bold">Serves :</b> {{ recipe.servings }}</p>
      <p>
        <b class="font-weight-bold">Prep Time :</b> {{ recipe.preparationMinutes
        }} mins
      </p>
      <p>
        <b class="font-weight-bold">Cook Time :</b> {{ recipe.cookingMinutes }}
        mins
      </p>
      {% endif %}
      <p>
        {% for h in hashtags %}
        <span class="badge badge-pill badge-danger font-weight-bold p-1"
          >#{{ h }}
        </span>
        {% endfor %}
      </p>

      <img class="img-fluid" src="{{ recipe.image }}" alt="" width="800px" />
      <form>
        {% if already_liked %}
        <button
          formmethod="POST"
          formaction="/recipe/{{ recipe.id }}/unlike"
          class="btn btn-danger btn-circle"
        >
          <i class="far fa-heart"></i>
        </button>
        {% else %}
        <button
          formmethod="POST"
          formaction="/recipe/{{ recipe.id }}/like"
          class="btn btn-outline-danger btn-circle"
        >
          <i class="far fa-heart"></i>
        </button>
        {% endif %}
      </form>
    </div>
    <div class="col-md-4">
      <!-- Instructions and Ingredients -->
      <h3 class="my-3 font-weight-bold">Instructions</h3>
      
      {% if recipe.analyzedInstructions %}
      <ul class="list-group list-group-flush">
        {% for i in recipe.analyzedInstructions[0].steps %}
        <li class="list-group-item">
          Step {{ i.number }}
          <p>{{ i.step }}</p>
        </li>
        {% endfor %}
      </ul>
      {% else %}

      <p>&#128577; Sorry we couldn't find instructions for this recipe.</p>
      {% endif %}
      <h3 class="my-3 font-weight-bold">Ingredients</h3>
      <ul class="list-group list-group-flush">
        {% for ing in recipe.extendedIngredients %}
        <li class="list-group-item">
          <img
            src="{{ ingredients_base_url }}{{ ing.image }}"
            alt="{{ ing.name }}'s image'"
            width="35px"
            class="rounded-circle"
          />
          {{ ing.original }}
        </li>
        {% endfor %}
      </ul>
      <!-- End Instructions and Ingredients -->
    </div>
  </div>
  <!-- Comments Row  -->
  <div class="row">
    <div class="col-md-8">
      <div class="page-header mb-2">
        <h3 class="font-weight-bold">
          <small class="float-right"
            >{{ all_comments | length }} comments</small
          >
          Comments
        </h3>
      </div>
      <!-- Comment Form -->
      <div class="form-group my-3">
        <form
          action="/recipe/{{ recipe.id }}/comment"
          method="POST"
          class="media mb-2 md-form"
        >
          <img
            src="{{ g.user.image_url }}"
            alt=""
            class="mr-2 rounded-circle"
            style="width: 40px; height: 40px"
          />
          <div class="media-body input-group-append">
            <h5 class="mt-0 mb-1 user_name">{{ g.user.username }}</h5>
            <input
              type="text"
              name="comment"
              placeholder="Add a public comment.."
              class="border-0 border-bottom form-control"
            />
            <span>
              <button type="submit" class="btn btn-elegant float-right btn-sm">
                Post
              </button>
            </span>
          </div>
        </form>
      </div>
      <!--  End of Comment Form -->
      <ul class="list-unstyled">
        {% for c in all_comments %}
        <li class="media border-bottom my-3">
          <img
            src="{{ c.posted_by.image_url }}"
            class="mr-2 rounded-circle"
            style="width: 40px; height: 40px"
          />
          <div class="media-body">
            <h5 class="mt-0 mb-1 user_name">{{ c.posted_by.username }}</h5>
            {{ c.comment }}
          </div>
          <small class="float-right">{{ c.timestamp }}</small>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Related Recipes Row -->

  <h3 class="my-4 font-weight-bold">Related Recipes</h3>
  <div class="row">
    {% for r in similar_recipes %}
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="/recipe/{{ r.id }}">
        <img
          src="{{ recipes_base_url }}{{ r.id }}-480x360.{{ r.imageType }}"
          alt=""
          class="img-fluid"
          width="500"
          height="300"
        />
      </a>
      <!-- <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
      </a> -->
      <h5 class="font-weight-bold">{{ r.title }}</h5>
    </div>
    {% endfor %}
  </div>

  <!-- /.container -->
  <script src="../../static/JS/recipe_details.js"></script>
  {% endblock %}
</div>
